/*.sec-one {
  background-color: red;
  margin:auto;
  width: 900px;
  height: auto;
  padding-top: 15px;
  color: white;
  padding: 30px;
}

.hero {
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
}
h5 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
 }*/
