/*beginning of section one*/

nav {
  background-color: #2D3E4F;
  width: 100%;
  height: 30px;
}

#box {
  width: 99px;
  height: 137px;
  background-color: white;
  margin: auto;
  margin-bottom: 70px;

}
.sec-one {
  background-color: #2D3E4F;
  width: 100%;
  height: 615px;
  color: white;
}


.hero-text {
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
  font-size: 2.3em;
  font-weight: lighter;
  line-height: 1.4em;
}

.btn-area {
  text-align: center;
  margin: auto;
  padding: 25px;
}

button {
  background-color: #E44D42;
  color: white;
  margin: 0 auto;
  width: 124px;
  border-radius: 16px;
  font-size: 7px;
  border: none;
  padding: 9px;
}

button:hover {
  background-color: white;
  color: #E44D42;
}

.scroll-text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: lighter;
  padding-top: 65px;
  font-size: 9px;
 }

.img-area {
  text-align: center;
  margin: auto;
  padding: 3px;
  width: 25px;
  height: 35px;
}

.img-area img {
  width: 100%;
  height: auto;
}

/*beginnning of section two*/

.sec-two {
  background-color: white;
  width: 100%;
  height: 1000px;

}

.hero-text-two {
  font-family: sans-serif;
  font-family: 'Poiret One', cursive;
  color: #2D3E4F;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 45px;
  padding-top: 7%;
}

.sec-two-header {
  text-align: center;
  margin: auto;
  color: #989898;
  width: 42%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
}

.sec-two-main-flexcontainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
}

.sec-two-flexcontainer-center {
  flex: 0 0 33%;
}

.phone-area {
  text-align: center;
  margin: auto;
  padding-top: 10%;
  width: 77%;
}

.phone-area img {
  width: 100%;
  height: auto;
}

.sec-two-flexcontainer-left-side  {
  flex: 0 0 33%;
  order: -1;
  text-align: right;
  padding-top: 2%;
  align-self: center;
}

.title-left-column {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2D3E4F;
  text-align: right;
  padding-right: 32%;

}

.sec-two-line {
  width: 40%;
  color: #dae4e5;
  padding-left: 25%
  float: left;
}

.left-side {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6F6F6F;
  width: 50%;
  font-size: 11px;
  line-height: 1.6em;
  text-align: right;
  padding-left: 17%;
}

.sec-two-flexcontainer-right-side {
  flex: 0 0 33%;
  padding-top: 2%;
  text-align: left;
  align-items: center;
  order: 1;
  align-self: center;
}

.title-right-column {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2D3E4F;
}

.title-right-column-1 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #E44D42;
  text-decoration: underline;
}

.right-side {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6F6F6F;
  width: 50%;
  font-size: 11px;
  line-height: 1.6em;
  text-align: left;
}

.sec-two-line-right {
  width: 50%;
  color: #dae4e5;
  margin: inherit;
}

/*beginning of section three*/

.sec-three {
    background-color: #2D3E4F;
    width: 100%;
    height: 872px;
    color: white;
}

.hero-text-three {
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 10%;
}

.main-sec-three-header {
  text-align: center;
  margin: auto;
  color: #989898;
  width: 42%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 4%;
}

.sec-three-flexcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

ul li {
  text-decoration: none;
  list-style: none;
}

.flex-sq-group {
  display: flex;
  flex-flow: row wrap;
  max-width: 75%;
  justify-content: center;
}

.sec-three-card {
  display: flex;
  width: 25%;
  margin: auto;
  padding: 3%;
  flex: 0 0 auto;
}

.flex-card {
  display: flex;
  flex-flow: row wrap;
}

.img-area-sec-three {
  text-align: center;
  margin: auto;
  width: 19%;
}

.img-area-sec-three img {
  width: 100%;
  height: auto;
}

.img-area-sec-three-lightbulb {
  text-align: center;
  margin: auto;
  width: 15%;
}

.img-area-sec-three-lightbulb img {
  width: 100%;
  height: auto;
}

.flex-card-content {
  display: flex;
  flex-flow: row wrap;
}

.sec-three-header {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
  font-size: 1.1em;
  padding-left: 20%;
}

.sec-three-header-time {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
  font-size: 1.1em;
  padding-left: 6%;
}

.sec-three-text {
  flex: 1 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #989898;
  font-size: 10px;
  line-height: 1.6em;
  max-width: 75%;
  text-align: center;
  padding-left: 12%;
}

.sec-three-header-two {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
  font-size: 1.1em;
}

/*beginning of section four*/

.sec-four {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero-text-four {
  font-family: 'Poiret One', cursive;
  color: #2D3E4F;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 45px;
}

.sec-four-header {
  text-align: center;
  margin: auto;
  color: #989898;
  width: 42%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
}

.our-works-flexcontainer {
  padding: 7% 20%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -mox-box;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.work-1 {
  background: #E44D42;
  padding: 5px;
  width: 155px;
  height: 105px;
  margin: 10px;
}

.img-area-sec-four {
  text-align: -webkit-center;
  text-align: center;
  width: 100%;
  padding-top: 17%;
}

.img-area-sec-four img {
  width: 10%;
}

.project-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 11px;
  font-weight: lighter;
  padding-top: inherit;
}

.black-box {
  background: #333333;
  padding: 5px;
  width: 155px;
  height: 105px;
  margin: 10px;
  line-height: 100px;

}

/*beginning of section five*/

.sec-five {
  background-color: #2D3E4F;
  width: 100%;
}

.hero-text-five {
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 7%;
}

.testimonials-littleboxes-flexcontainer {
  padding: 0% 28%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -mox-box;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.little-boxes {
  width: 100%;
  background-color: white;
  width: 35px;
  height: 35px;
  margin: 5px;
  border-radius: 3px;
}

.little-boxes-quote{
  width: 100%;
  width: 35px;
  height: 35px;
  margin: 5px;
}

.quote-mark img{
  width: 100%;
  border-radius: 3px;

}

.sec-five-header {
  text-align: center;
  margin: auto;
  color: #989898;
  width: 42%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-size: x-small;
  font-size: 9px;
  padding-top: 2%;
}

.reference-quote {
  text-align: center;
  margin: auto;
  color: white;
  width: 100%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  padding-top: 2%;
}

.section-five-line {
  width: 75%;
  color: #dae4e5;
  font-weight: lighter;
  margin-top: 3%;
}

.testimonials-flexcontainer {
  padding: 7% 8%;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -mox-box;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.testimonials-box {
  background: white;
  padding: 5px;
  width: 120px;
  height: 55px;
  margin: 10px;
  margin: 1%;
}

/*beginning of section six*/

.sec-six {
    width: 100%;
    color: white;
}

.hero-text-six {
  font-family: 'Poiret One', cursive;
  color: #2D3E4F;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 7%;
}

.sec-six-header {
  text-align: center;
  margin: auto;
  color: #989898;
  width: 35%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}
.pricing-table-main-flexcontainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;
}

.basic-package-flexcontainer {
  flex: 0 0 20%;
  border: 1px solid #dedede;
  padding: 1%;
  height: 500px;
}

.pricing-header-1  {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #2D3E4F;
  background-color: #eee;
  text-align: center;
  font-size: 1.4em;
  font-weight: lighter;
  padding-top: 12%;
}

.price-mth {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
}

.price-mth-stand {
  color: white;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 11px;
}

.line-separator {
  background-color: #989898;
  border:  1px solid #DEDEDE;
}

.access {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;

}

.food {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;
}

.bev {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;
}

.peeps {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;
}

.bugger {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;
}

.domain {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;
}

.standard-package-flexcontainer {
  flex: 0 0 20%;
  border: 1px solid #E44D42;
  padding: 1%;

}

.pricing-header-2 {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #E44D42;
  text-align: center;
  font-size: 1.4em;
  font-weight: lighter;
  padding-top: 12%;
}

.pricing-header-3 {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #2D3E4F;
  background-color: #eee;
  text-align: center;
  font-size: 1.4em;
  font-weight: lighter;
  padding-top: 12%;
}


.professional-package-flexcontainer {
  flex: 0 0 20%;
  border: 1px solid #dedede;
  padding: 1%;

}

.enterprise-package-flexcontainer {
  flex: 0 0 20%;
  border: 1px solid #dedede;
  padding: 1%;

}

.pricing-header-4 {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #2D3E4F;
  background-color: #eee;
  text-align: center;
  font-size: 1.4em;
  font-weight: lighter;
  padding-top: 12%;
}

.pricing-btn-area {
  text-align: center;
  margin: auto;
  padding: 25px;
  color: #2D3E4F;
  background-color: white;
  width: 124px;
  font-size: 9px;
  border: none;
}

.pricing-btn-area:hover {
  background-color: blue;
  color: orange;
}

/*beginning of section seven*/

.sec-seven {
  width: 100%;
}

.sec-seven-main-flexcontainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 475px;

}

.sec-seven-leftside {
  background-color: #eee;
  width: 50%;
}

.sec-seven-rightside {
  background-color: #2D3E4F;
  width: 50%;
}

.hero-text-seven {
  font-family: sans-serif;
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: left;
  font-size: 1.7em;
  font-weight: lighter;
  line-height: 1.4em;
  padding-top: 15%;
  padding-left: 15%;

}

.sec-seven-header {
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  color: #989898;
  color: #becbd8;
  color: #cdd1d6;
  /*color: #c9d4e0;*/
  width: 50%;
  font-size: 11px;
  padding-left: 15%;
}

.sec-seven-flexcontainer-rightside {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex: 0 0 50%;
  justify-content: flex-start;
  padding-left: 15%;
}

.showcase-1-box {
  background: white;
  width: 105px;
  height: 75px;
  line-height: 100px;
}

.showcase-2-box {
  background: white;
  width: 105px;
  height: 75px;
  margin: 0 10px;
  line-height: 100px;
}

.showcase-1-box-title {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 18px;
  text-align: left;
  padding-top: 42%;
  margin-bottom: -79px;
}

.showcase-2-box-title {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 18px;
  text-align: left;
  padding-top: 42%;
  margin-bottom: -79px;
}

.showcase-1-box-detail {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #cdd1d6;
  font-size: 9px;
  text-align: left;

}

.showcase-2-box-detail {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #cdd1d6;
  font-size: 9px;
  text-align: left;
}

/*beginning of section eight*/

.sec-eight {
  width: 100%;
  color: white;
}

.hero-text-eight {
  font-family: 'Poiret One', cursive;
  color: #2D3E4F;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 7%;
}

.sec-eight-header {
  text-align: center;
  margin: auto;
  color: #989898;
  width: 40%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}

.our-team-main-flexcontainer {
  -ms-box-orient: horizontal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 75%;
  padding: 1%;

}

.our-team-flexcontainer-1 {
  flex: 0 0 25%;
  /*order: -1;*/
  text-align: center;
  /*padding-top: 2%;*/
  /*align-self: center;*/
}

.team-pic-1-area {
  align-self: center;
  padding: 5% 0;
}

.team-pic-1 {
  /*flex: 0 0 20%;*/
  background-color: #eee;
  background-color: #e2e0e0;
  /*padding: 5px;*/
  width: 215px;
  height: 150px;
  margin: 10px;
  /*order: -1;*/
  line-height: 100px;
}

.team-name-1 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2D3E4F;
  padding: 5% 0;
  /*text-align: right;*/
  /*padding-right: 32%;*/
}

.team-intro-1 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6F6F6F;
  width: 100%;
  font-size: 11px;
  line-height: 1.6em;
  text-align: center;
}

.our-team-flexcontainer-2 {
  flex: 0 0 25%;
  text-align: center;
  /*padding-top: 2%;*/
  /*align-self: center;*/
}

.team-pic-2-area {
  align-self: center;
  padding: 5% 0;
}

.team-pic-2 {
  background-color: #eee;
  background-color: #e2e0e0;
  /*padding: 5px;*/
  width: 215px;
  height: 150px;
  margin: 10px;
  line-height: 100px;

}

.team-name-2 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2D3E4F;
  padding: 5% 0;

}

.team-intro-2 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6F6F6F;
  width: 100%;
  font-size: 11px;
  line-height: 1.6em;
  text-align: center;
}

.our-team-flexcontainer-3 {
  flex: 0 0 25%;
  text-align: center;
  /*padding-top: 2%;*/
  /*align-self: center;*/
}

.team-pic-3-area {
  align-self: center;
  padding: 5% 0;
}

.team-pic-3 {
  flex: 0 0 20%;
  background-color: #eee;
  background-color: #e2e0e0;
  /*padding: 5px;*/
  width: 215px;
  height: 150px;
  margin: 10px;
  line-height: 100px;

}

.team-name-3 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2D3E4F;
  padding: 5% 0;

}

.team-intro-3 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6F6F6F;
  width: 100%;
  font-size: 11px;
  line-height: 1.6em;
  text-align: center;
}

.social-media-area {
  width: 100%;
}

.social-media-area img {
  width: 45%;
  padding: 9% 0;
}

/*beginning of media queries*/

@media only screen and (max-width: 901px) {
  .phone-area {
    display: none;
  }
  .sec-two-flexcontainer-left-side {
    flex-grow: 3;
  }
  .sec-two-flexcontainer-right-side {
    flex-grow: 3;
  }
}

@media only screen and (max-width: 640px)  {
  .hero-text {
    font-size: 150%;
  }

  .scroll-text {
    display: none;
   }

  .img-area {
    display: none;
  }

  .img-area img {
     display: none;
  }

  .sec-two-header {
    font-size: 50%;
    width: auto;

  }

  .sec-two-main-flexcontainer {
    flex-direction: row;
    flex: 2;
    max-width: 100%;
  }

  .sec-two-flexcontainer-left-side {
    /*display: flex;*/
    max-width: 50%;
  }

  .sec-two-flexcontainer-right-side {
    /*display: flex;*/
    max-width: 50%;

  }

  .sec-two-flexcontainer-center {
    display: none;
    /*max-width: 25%;*/
  }

 .phone-area {
     display: none;
   }





  /*.column {
    float: none;
    width: 100%;
    padding: 0px;
    margin: 0 0 40px 0;
  }
  #hero h2 {
    font-size: 200%;
  }*/


}
