/*beginning of section one*/

nav {
  background-color: #2D3E4F;
  width: 100%;
  height: 30px;
}

#box {
  width: 99px;
  height: 137px;
  background-color: white;
  margin: auto;
  margin-bottom: 70px;

}
.sec-one {
  background-color: #2D3E4F;
  width: 100%;
  height: 615px;
  color: white;
}


.hero-text {
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
  font-size: 2.3em;
  font-weight: lighter;
  line-height: 1.4em;
}

.get-started-btn-area {
  text-align: center;
  margin: auto;
  padding: 25px;
}

.get-started-btn {
  background-color: #E44D42;
  color: white;
  margin: 0 auto;
  width: 124px;
  border-radius: 16px;
  font-size: 7px;
  border: none;
  padding: 9px;
}

.get-started-btn:hover {
  background-color: white;
  color: #E44D42;
}

.scroll-text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: lighter;
  padding-top: 65px;
  font-size: 9px;
 }

.img-area {
  text-align: center;
  margin: auto;
  padding: 3px;
  width: 25px;
  height: 35px;
}

.img-area img {
  width: 100%;
  height: auto;
}

/*beginnning of section two*/

.sec-two {
  background-color: white;
  width: 100%;
  height: 1000px;

}

.hero-text-two {
  font-family: sans-serif;
  font-family: 'Poiret One', cursive;
  color: #2D3E4F;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 45px;
  padding-top: 7%;
}

.sec-two-header {
  text-align: center;
  margin: auto;
  color: #989898;
  width: 42%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
}

.sec-two-main-flexcontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*-webkit-flex-wrap: wrap;*/
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
}

.sec-two-flexcontainer-center {
  display: -webkit-flex;
  max-width: 33%;
  flex: 0 0 33%;
}

.phone-area {
  webkit-align-self: center;
  align-self: center;
  text-align: center;
  margin: auto;
  padding-top: 10%;
  width: 77%;
}

.phone-area img {
  width: 100%;
  height: auto;
}

.sec-two-flexcontainer-left-side  {
  flex: 0 0 33%;
  order: -1;
  text-align: right;
  padding-top: 2%;
  align-self: center;
}

.title-left-column {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2D3E4F;
  text-align: right;
  /*padding-right: 32%;*/

}

.title-left-column-left {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2D3E4F;
  text-align: right;
  padding-left: 17%;
  padding-left: 50%;
  float: right;
}

.sec-two-line {
  /*width: 40%;*/
  color: #dae4e5;
  padding-left: 50%;
  float: right;
}

.left-side {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6F6F6F;
  /*width: 50%;*/
  font-size: 11px;
  line-height: 1.6em;
  text-align: right;
  padding-left: 42%;
}

.sec-two-flexcontainer-right-side {
  flex: 0 0 33%;
  /*padding-top: 2%;*/
  text-align: left;
  align-items: center;
  order: 1;
  align-self: center;
}

.title-right-column {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2D3E4F;
}

.title-right-column-1 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #E44D42;
  text-decoration: underline;
}

.right-side {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6F6F6F;
  width: 50%;
  font-size: 11px;
  line-height: 1.6em;
  text-align: left;
}

.sec-two-line-right {
  width: 50%;
  color: #dae4e5;
  margin: inherit;
}

/*beginning of section three*/

.sec-three {
    background-color: #2D3E4F;
    width: 100%;
    height: 872px;
    color: white;
}

.hero-text-three {
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 10%;
}

.main-sec-three-header {
  text-align: center;
  margin: auto;
  color: #c9d4e0;
  width: 42%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 4%;
}

.sec-three-flexcontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}

ul li {
  text-decoration: none;
  list-style: none;
}

.flex-sq-group {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  max-width: 75%;
  justify-content: center;
}

.sec-three-card {
  display: flex;
  width: 25%;
  margin: auto;
  padding: 3%;
  flex: 0 0 auto;
}

.flex-card {
  display: flex;
  flex-flow: row wrap;
}

.img-area-sec-three {
  text-align: center;
  margin: auto;
  width: 19%;
}

.img-area-sec-three img {
  width: 100%;
  height: auto;
}

.img-area-sec-three-lightbulb {
  text-align: center;
  margin: auto;
  width: 15%;
}

.img-area-sec-three-lightbulb img {
  width: 100%;
  height: auto;
}

.flex-card-content {
  display: flex;
  flex-flow: row wrap;
}

.sec-three-header {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
  font-size: 1.1em;
  padding-left: 20%;
}

.sec-three-header-time {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
  font-size: 1.1em;
  padding-left: 6%;
}

.sec-three-text {
  flex: 1 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #c9d4e0;
  font-size: 10px;
  line-height: 1.6em;
  max-width: 75%;
  text-align: center;
  padding-left: 12%;
}

.sec-three-header-two {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
  font-size: 1.1em;
}

/*beginning of section four*/

.sec-four {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero-text-four {
  font-family: 'Poiret One', cursive;
  color: #2D3E4F;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 45px;
}

.sec-four-header {
  text-align: center;
  margin: auto;
  color: #989898;
  width: 42%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
}

.our-works-flexcontainer {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -mox-box;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 7% 20%;
  justify-content: center;
}

.work-1 {
  background: #E44D42;
  padding: 5px;
  width: 155px;
  height: 105px;
  margin: 10px;
}

.img-area-sec-four {
  text-align: -webkit-center;
  text-align: center;
  width: 100%;
  padding-top: 17%;
}

.img-area-sec-four img {
  width: 10%;
}

.project-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 11px;
  font-weight: lighter;
  padding-top: inherit;
}

.black-box {
  background: #333333;
  padding: 5px;
  width: 155px;
  height: 105px;
  margin: 10px;
  line-height: 100px;

}

/*beginning of section five*/

.sec-five {
  background-color: #2D3E4F;
  width: 100%;
}

.hero-text-five {
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 7%;
}

.testimonials-littleboxes-flexcontainer {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -mox-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  padding: 0% 28%;
}

.little-boxes {
  width: 100%;
  background-color: white;
  width: 35px;
  height: 35px;
  margin: 5px;
  border-radius: 3px;
}

.little-boxes-quote{
  width: 100%;
  width: 35px;
  height: 35px;
  margin: 5px;
}

.quote-mark img{
  width: 100%;
  border-radius: 3px;

}

.sec-five-header {
  text-align: center;
  margin: auto;
  color: #c9d4e0;
  width: 42%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-size: x-small;
  font-size: 9px;
  padding-top: 2%;
}

.reference-quote {
  text-align: center;
  margin: auto;
  color: white;
  width: 100%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  padding-top: 1%;
}

.section-five-line {
  width: 75%;
  color: #dae4e5;
  font-weight: lighter;
  margin-top: 3%;
}

.testimonials-flexcontainer {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -mox-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 7% 8%;
}

.testimonials-box {
  background: white;
  padding: 5px;
  width: 120px;
  height: 55px;
  margin: 10px;
  margin: 1%;
}

/*beginning of section six*/

.sec-six {
    width: 100%;
    color: white;
}

.hero-text-six {
  font-family: 'Poiret One', cursive;
  color: #2D3E4F;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 7%;
}

.sec-six-header {
  text-align: center;
  margin: auto;
  color: #989898;
  width: 35%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}
.pricing-table-main-flexcontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;
}

.basic-package-flexcontainer {
  flex: 0 0 20%;
  border: 1px solid #dedede;
  padding: 1%;
  /*height: 500px;*/
}

.pricing-header-1  {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #2D3E4F;
  background-color: #eee;
  text-align: center;
  font-size: 1.4em;
  font-weight: lighter;
  padding-top: 12%;
}

.price-mth {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
}

.price-mth-stand {
  color: white;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 11px;
}

.line-separator {
  background-color: #989898;
  border:  1px solid #DEDEDE;
}

.access {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;

}

.food {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;
}

.bev {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;
}

.peeps {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;
}

.bugger {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;
}

.domain {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #6F6F6F;
  font-size: 11px;
  text-align: center;
  padding-top: 20%;
}

.standard-package-flexcontainer {
  flex: 0 0 20%;
  border: 1px solid #E44D42;
  padding: 1%;

}

.pricing-header-2 {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #E44D42;
  text-align: center;
  font-size: 1.4em;
  font-weight: lighter;
  padding-top: 12%;
}

.pricing-header-3 {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #2D3E4F;
  background-color: #eee;
  text-align: center;
  font-size: 1.4em;
  font-weight: lighter;
  padding-top: 12%;
}


.professional-package-flexcontainer {
  flex: 0 0 20%;
  border: 1px solid #dedede;
  padding: 1%;

}

.enterprise-package-flexcontainer {
  flex: 0 0 20%;
  border: 1px solid #dedede;
  padding: 1%;

}

.pricing-header-4 {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #2D3E4F;
  background-color: #eee;
  text-align: center;
  font-size: 1.4em;
  font-weight: lighter;
  padding-top: 12%;
}

.pricing-btn-area {
  text-align: center;
  margin: auto;
  padding: 30px;
  width: 125px;
  font-size: 9px;
  border: none;
}

.signup {
  text-align: center;
  margin: auto;
  padding: 15px;
  color: white;
  background-color: #2D3E4F;
  width: 124px;
  font-size: 9px;
  border: none;
}

.signup:hover {
  background-color: #6386aa;
  color: #E44D42;
  color: white;
}

.signup-2 {
  text-align: center;
  margin: auto;
  padding: 15px;
  color: white;
  background-color: #E44D42;
  width: 124px;
  font-size: 9px;
  border: none;
}

.signup-2:hover {
  background-color: #6386aa;
  color: #E44D42;
  color: white;
}

/*beginning of section seven*/

.sec-seven {
  width: 100%;
}

.sec-seven-main-flexcontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  height: 475px;

}

.sec-seven-leftside {
  background-color: #eee;
  width: 50%;
}

.sec-seven-rightside {
  background-color: #2D3E4F;
  width: 50%;
}

.hero-text-seven {
  font-family: sans-serif;
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: left;
  font-size: 1.7em;
  font-weight: lighter;
  line-height: 1.4em;
  padding-top: 15%;
  padding-left: 15%;

}

.sec-seven-header {
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  color: #c9d4e0;
  width: 50%;
  font-size: 11px;
  padding-left: 15%;
}

.sec-seven-flexcontainer-rightside {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex: 0 0 50%;
  justify-content: flex-start;
  padding-left: 15%;
}

.showcase-1-box {
  background: white;
  width: 105px;
  height: 75px;
  line-height: 100px;
}

.showcase-2-box {
  background: white;
  width: 105px;
  height: 75px;
  margin: 0 10px;
  line-height: 100px;
}

.showcase-1-box-title {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 18px;
  text-align: left;
  padding-top: 42%;
  margin-bottom: -79px;
}

.showcase-2-box-title {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 18px;
  text-align: left;
  padding-top: 42%;
  margin-bottom: -79px;
}

.showcase-1-box-detail {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #c9d4e0;
  font-size: 9px;
  text-align: left;

}

.showcase-2-box-detail {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #c9d4e0;
  font-size: 9px;
  text-align: left;
}

/*beginning of section eight*/

.sec-eight {
  width: 100%;
  color: white;
}

.hero-text-eight {
  font-family: 'Poiret One', cursive;
  color: #2D3E4F;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 7%;
}

.sec-eight-header {
  text-align: center;
  margin: auto;
  color: #989898;
  width: 40%;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}

.our-team-main-flexcontainer {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 75%;
  padding: 1%;

}

.our-team-flexcontainer-1 {
  flex: 0 0 25%;
  text-align: center;

}

.team-pic-1-area {
  align-self: center;
  padding: 5% 0;
}

.team-pic-1 {
  background-color: #eee;
  background-color: #e2e0e0;
  width: 215px;
  height: 150px;
  margin: 10px;
  line-height: 100px;
}

.team-name-1 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2D3E4F;
  padding: 5% 0;

}

.team-intro-1 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6F6F6F;
  width: 100%;
  font-size: 11px;
  line-height: 1.6em;
  text-align: center;
}

.our-team-flexcontainer-2 {
  flex: 0 0 25%;
  text-align: center;
}

.team-pic-2-area {
  align-self: center;
  padding: 5% 0;
}

.team-pic-2 {
  background-color: #eee;
  background-color: #e2e0e0;
  width: 215px;
  height: 150px;
  margin: 10px;
  line-height: 100px;

}

.team-name-2 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2D3E4F;
  padding: 5% 0;

}

.team-intro-2 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6F6F6F;
  width: 100%;
  font-size: 11px;
  line-height: 1.6em;
  text-align: center;
}

.our-team-flexcontainer-3 {
  flex: 0 0 25%;
  text-align: center;

}

.team-pic-3-area {
  align-self: center;
  padding: 5% 0;
}

.team-pic-3 {
  flex: 0 0 20%;
  background-color: #eee;
  background-color: #e2e0e0;
  width: 215px;
  height: 150px;
  margin: 10px;
  line-height: 100px;

}

.team-name-3 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2D3E4F;
  padding: 5% 0;

}

.team-intro-3 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #6F6F6F;
  width: 100%;
  font-size: 11px;
  line-height: 1.6em;
  text-align: center;
}

.social-media-area {
  width: 100%;
}

.social-media-area img {
  width: 45%;
  padding: 9% 0;
}

/*beginning of section nine*/

.sec-nine {
  background-color: #2D3E4F;
  width: 100%;
}

.hero-text-nine {
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
  padding-top: 7%;
}

.sec-nine-header {
  text-align: center;
  margin: auto;
  color: #c9d4e0;
  width: 45%;
  font-weight: lighter;
  line-height: 1.6em;
  font-family: 'Roboto', sans-serif;
  font-size: x-small;
  font-size: 11px;
  padding-top: 1%;
  padding-bottom: 2%;
}

.form-flexcontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.form-leftside {
  display: flex;
  order: -1;
  align-self: flex-start;
  flex: 0 1 auto;
}

.message-area {
  padding: .3em;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 2px;
  font-size: 11px;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  color: #989898;

}

textarea {
  width: 350px;
  height: 150px;
}

.form-rightside {
  display: flex;
  width: 43%;
  padding-left: 5%;
}

input {
  padding: 1.1em;
  border-radius: 2px;
  font-size: 11px;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  color: #989898;
  width: 91%;
  margin-bottom: 11px;
}

.pw-area {
  margin: 5px 0;

}

.submit-form {
  font-size: 11px;
  font-weight: lighter;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  background-color: #E44D42;
  color: white;
  float: right;
  border-radius: 2px;
  width: 25%;

}

.submit-form:hover {
  background-color: #6386aa;
}

.submit-btn {
  overflow: hidden;
  padding-right: .5em;
}

.scribble {
  text-align: right;
  overflow: hidden;
  width: 25%;
}


/*beginning of section ten*/

.sec-ten {
  margin: -23px;
}

.arrow-up-area {
  text-align: center;
  margin: auto;
  width: 14%;
  padding-bottom: 1%;
}

.arrow-up-area img {
  width: 25%;
}

/*beginning of footer*/

footer {
  background-color: white;
  width: 100%;
}

.copyright {
  text-align: center;
  margin: auto;
  color: #989898;
  width: 20%;
  font-weight: lighter;
  line-height: 1.6em;
  font-family: 'Roboto', sans-serif;
  font-size: x-small;
  font-size: 9px;
  padding-top: 5%;
}

.highlight {
  color: #E44D42;
}

.social-media-area-footer {
  text-align: center;
  margin: auto;
  width: 32%;

}

.social-media-area-footer img {
  width: 30%;
  padding: 5%;
}

/*beginning of media queries*/
@media only screen and (max-width: 1195px) {
  .title-left-column-left {
    font-size: inherit;
  }
}

@media only screen and (max-width: 1100px) {
  .sec-two {
    height: 5%;
  }
  .sec-three-card {
    padding: 1%;
  }
}

@media only screen and (max-width: 1098px) {
  .sec-three-header-time {
    padding-left: 4%;
  }
  .sec-three-header {
    padding-left: 17%;
  }
}

@media only screen and (max-width: 1005px) {
  .sec-three-header {
    padding-left: 15%;
  }
  .sec-three-header-time {
    font-size: 1em;
  }

@media only screen and (max-width: 940px) {
  .pricing-table-main-flexcontainer {
    margin: 3%;
  }

  .pricing-btn-area {
    padding: 10px;
  }
}

@media only screen and (max-width: 901px) {
  .sec-two-flexcontainer-left-side {
    flex-grow: 3;
  }
  .sec-two-flexcontainer-right-side {
    flex-grow: 3;
  }
  .phone-area {
    width: 88%;
  }
}

@media only screen and (max-width: 868px) {
  .phone-area {
    width: 88%;
  }
}

@media only screen and (max-width: 760px) {
  .section-two-main-flexcontianer {
    margin: 3%;
  }
  .phone-area {
    width: 100%;
  }
  .sec-two-flexcontainer-left-side {
    margin: 0 3px;
  }
  .left-side {
    padding: 3%;
  }
  .sec-two-line {
    float: none;
  }
  .title-left-column-left {
    padding-left: 17%;
    float: none;
  }
  .right-side {
    width: inherit;
  }
  .sec-two-line-right {
    width: inherit;
  }
}

@media only screen and (max-width: 640px)  {
  .hero-text {
    font-size: 150%;
  }
  .scroll-text {
    display: none;
   }
  .img-area {
    display: none;
  }
  .img-area img {
     display: none;
  }
  .sec-two-header {
    font-size: 50%;
    width: auto;
  }
  .sec-two-main-flexcontainer {
    flex-direction: row;
    flex: 2;
    max-width: 100%;
  }
  .sec-two-flexcontainer-left-side {
    max-width: 50%;
  }
  .sec-two-flexcontainer-right-side {
    max-width: 50%;
  }
  .sec-two-flexcontainer-center {
    display: none;
  }
  .phone-area {
     display: none;
   }
  .signup {
     padding: 11px;
     width: 85px;
   }
  .pricing-btn-area {
     width: 100px;
   }
  .signup-2 {
     padding: 11px;
     width: 85px;
   }
   .pricing-header-1 {
     font-size: 1.3em;
   }
   .pricing-header-2 {
     font-size: 1.3em;
   }
   .pricing-header-3 {
     font-size: 1.3em;
   }
   .pricing-header-4 {
     font-size: 1.3em;
   }
}
@media only screen and (max-width: 599px) {
  .main-sec-three-header {
    width: 75%;
  }
  .sec-three {
    height: 1250px;
  }

  .sec-three-card {
    width: 75%;
    /*padding: 1%;*/
  }
  .sec-three-header {
    margin: 0 auto;
    text-align: center;
  }
  .sec-three-header-time {
    font-size: 1.1em;
    margin: 0 auto;
  }
  .sec-six-header {
    width: 75%;
  }
  .signup {
    padding: 9px;
    width: 90px;
  }
  .pricing-btn-area {
    width: 92px;
  }
  .signup-2 {
    padding: 9px;
    width: 90px;
  }
  .pricing-header-1 {
    font-size: 1.2em;
  }
  .pricing-header-2 {
    font-size: 1.2em;
  }
  .pricing-header-3 {
    font-size: 1.2em;
  }
  .pricing-header-4 {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 599px) {



@media only screen and (max-width: 400px) {
  .sec-three {
    height: 1175px;
  }

  .sec-three-card {
    width: 75%;
    padding: 1%;
  }
}
